services:
  mysqldb:
    image: mysql:latest
    container_name: mysqldb
    environment:
      MYSQL_USER : sa
      MYSQL_PASSWORD : 1234
      MYSQL_DATABASE : capstone
      MYSQL_ROOT_PASSWORD : 1234
    ports:
      - "3306:3306"

  backend:
    build:
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - mysqldb
    command: |
      bash -c "python wait_mysql.py &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"