services:
  mysqldb:
    image: mysql:latest
    container_name: mysqldb
    environment:
      MYSQL_USER : ${MYSQL_USER}
      MYSQL_PASSWORD : ${MYSQL_PASSWORD}
      MYSQL_DATABASE : ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD : ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"

  backend:
    image: ${DOCKER_USERNAME}/django-backend:latest
    build:
      dockerfile: Dockerfile-prod
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - mysqldb
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings.prod
    command: >
      bash -c "python wait_mysql.py &&
      python manage.py migrate &&
      exec gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers=4 --threads=2"